body {
  font-family: 'Tajawal', sans-serif;
  font-size: 1em;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cutive Mono', monospace; }

p {
  font-size: 1.1em; }

.container {
  background: #e6e5e3;
  max-width: 700px;
  /* margin-right: auto; */
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 5px 1px #ccc;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  padding-top: 3em;
  padding-bottom: 2em;
  margin-bottom: 50px; }

.intro {
  max-width: 700px;
  padding-top: 2em;
  padding-bottom: 2em; }

.outro {
  margin-bottom: 50px; }

.left {
  /* float: left; */
  padding-left: 2em;
  margin-right: 2em; }

.right {
  /* float: right; */
  padding-right: 2em;
  margin-left: 2em; }

.req-number {
  margin-top: 0; }

.req-section {
  margin-bottom: 150px; }

.req-body {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 1em;
  /* background: #eeeeee; */
  border-radius: 10px; }

.req-body.right {
  padding-left: 1em;
  background: #ffffff;
  margin-right: 0.5em; }

.req-body.left {
  padding-right: 1em;
  background: #dcf8c6;
  margin-left: 0.5em; }

.req-body p {
  /* font-size: 1.1em; */
  line-height: 1.25;
  margin-bottom: 0;
  word-wrap: break-word;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto; }

.req-status {
  margin-top: 0.25em;
  margin-bottom: 0.5em !important;
  text-align: right;
  font-weight: normal;
  color: #444444; }

.req-tag {
  margin-top: 2em; }

@media only screen and (min-width: 768px) {
  .right, .left {
    max-width: 500px; }
  .right {
    margin-left: auto;
    margin-right: 0; } }

.about-btn {
  position: fixed;
  bottom: 25px;
  right: 25px;
  font-weight: bold;
  font-family: 'Cutive Mono', monospace;
  font-size: 1.5em;
  background-color: #ffffff;
  border: none;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 2px 0px #a9a9a9;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  color: #333333;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 4px 2px;
  border-radius: 50%;
  transition: visibility 0s, opacity 0.1s linear;
  opacity: 1;
  z-index: 1000; }

.hidden {
  opacity: 0; }

.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.15);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  display: none;
  pointer-events: none;
  transition: all 0.3s; }

.modal-window:target {
  opacity: 1;
  pointer-events: auto; }

.modal-window > div {
  width: 100vw;
  height: 100vh;
  position: relative;
  padding: 50% 2em 0;
  background: #fff;
  color: #444; }

.modal-window header {
  font-weight: bold; }

.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px; }

.no-overflow {
  overflow: hidden; }
